replicaCount: 2

image:
  repository: registry/springboot-hello-world
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

ingress:
  enabled: true
  host: hello-world.example.com
